{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link rel="icon" href="{% static 'images/kc.jpg' %}">
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header class="text-gray-600 body-font sm:text-left">
<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
<a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
<a href="{% url 'home' %}">
<img alt="KC" src="{% static 'images/kc.png' %}" width="30" height="30">
</a>
<span class="ml-3 text-xl">Kamal Classes</span>
</a>
<nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
<a class="mr-5 hover:text-gray-900" href="{% url 'home' %}">Home</a>
<a class="mr-5 hover:text-gray-900" href="{% url 'courses' %}">Syllabus</a>
<a class="mr-5 hover:text-gray-900" href="{% url 'acheivements' %}">Achievements</a>
<a class="mr-5 hover:text-gray-900" href="{% url 'centers' %}">Centers</a>
<a class="mr-5 hover:text-gray-900" href="{% url 'feedback' %}">Enquiry</a>
</nav>
</div>
</header>
{% block content %}
{% endblock %}
<footer class="text-gray-600 body-font sm:text-left">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <a href="{% url 'home' %}">
	<img alt="KC" src="{% static 'images/kc.png' %}" width="30" height="30">
	</a>
      <span class="ml-3 text-xl">Kamal Classes</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2021 Kamal Classes —
      <a href="https://www.instagram.com/kamalclassmumbai/?hl=en" target="_blank" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@kamalclassmumbai</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="ml-3 text-gray-500"  href="https://www.instagram.com/kamalclassmumbai/?hl=en" target="_blank">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-500" href="https://www.linkedin.com/in/kamal-shah-63371b20/" target="_blank">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer>
</body>
</html>
